/* hamburguer */
@media only screen and (max-width: 800px) {
  .hamburguer {
    display: block;
  }

  .links-container nav {
    display: inline;
  }

  #icone {
    cursor: pointer;
    padding: 15px;
    position: absolute;
    right: 0;
    top: 1%;
    z-index: 1;
  }

  #icone img {
    height: 2.5em;
  }

  #hamburguer-checkbox {
    display: none;
  }

  .links-container {
    background-color: #3291b6;

    height: 70%;
    width: 20em;

    border-radius: 0 0 0 100%;

    position: absolute;
    top: -70%;
    right: 0;

    transition: all 0.2s linear;

    display: flex;
    justify-content: center;
  }

  .links-container a {
    list-style: none;

    font-size: 2em;
    text-align: end;

    padding-left: 3em;
  }

  nav:first-child {
    padding-top: 7em;
  }

  nav a {
    text-decoration: none;
  }

  a {
    color: black;
    font-family: "Arial";
    font-size: 12pt;

    padding: 20px;
    margin-top: 200px;
  }

  a:hover {
    color: white;
  }

  #hamburguer-checkbox:checked ~ .links-container nav a {
    margin-top: 0;
    transition-delay: 0.2s;
  }

  #hamburguer-checkbox:checked ~ .links-container {
    transform: translateY(100%);
  }
}
/* hamburguer */

@media only screen and (max-width: 800px) {
  .main-container .main-content {
    padding: 0;
    width: 70%;
  }

  .main-container .main-content h2 {
    text-align: center;
  }

  .secondary-container {
    display: flex;
    flex-direction: column;
  }

  .secondary-container .hobbies-container h2 {
    text-align: center;
  }

  .hobbie {
    margin: 1em 2em;
  }

  .hobbie:last-child {
    margin: auto;
  }

  .secondary-container .top-5-container h2 {
    text-align: center;
    margin-top: 2em;
  }

  .top-5 {
    margin: 1em 2em;
  }

  .top-5:first-child {
    margin-left: 2em;
  }

  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer .images {
    margin: 0;
    margin-bottom: 1em;
  }

  .footer .button {
    margin: 0;
  }
}
